<div data-reveal-id="myModal" class="enquire-now">
 <p>ENQUIRE NOW</p>
</div>


<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2>Contact Us</h2>
  <p>
    To receive a quote or for more
    information about any of our services,
    please call us on +64 9 801 0373 or email
    us at <a href="mailto:info@nauticashipping.co.nz">info@nauticashipping.co.nz</a>. Or fill
    in the fields below and we’ll reply as promptly as possible:
  </p>

  <div class="row">
    <!-- Column One -->
    <div class="large-6 columns">
      <!-- Form -->
      <form action="http://formspree.io/kalemhall@gmail.com" method="POST">
        <div class="row">
          <div class="large-12 columns">
              <input type="text" name="First Name" placeholder="First Name" />
              <input type="text" name="Last Name" placeholder="Last Name" />
              <input type="text" name="Phone Number" placeholder="Phone Number" />
              <input type="email" name="_replyto" placeholder="Email Address" />
              <button input type="submit" value="Send"/>Send</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Column Two -->
    <div class="large-6 columns">
      Web: www.nauticashipping.co.nz
      Phone: +64 9 801 0373
      Email: info@nauticashipping.co.nz
      Physical address: Unit 6, 501 Karangahape Road, Freemans Bay, Auckland, NZ
      Postal address: PO Box 133189, Eastridge, Auckland, NZ
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
        <textarea placeholder="Message"></textarea>
    </div>
  </div>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
