<!-- The little tag on the side of the page -->
<div data-reveal-id="enquire" class="enquire-now">
 <p>ENQUIRE NOW</p>
</div>

<!-- This is the modal that opens when you click 'Enquire Now' -->
<div id="enquire" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="row">
    <div class="large-12 column">
      <h2 class="na-panel-header">Enquire Now</h2>
      <p>
        To receive a quote or for more
        information about any of our services,
        please call us on +64 9 801 0373 or email
        us at <a href="mailto:info@nauticashipping.co.nz">info@nauticashipping.co.nz</a>. Or fill
        in the fields below and we’ll reply as promptly as possible:
      </p>
    </div>
  </div>

  <form action="http://formspree.io/info@nauticashipping.co.nz" method="POST">
    <div class="row">
      <!-- Column One -->
      <div class="large-6 columns">
        <!-- Form -->
          <div class="row">
            <div class="large-12 columns">
                <input type="text" name="first_name" placeholder="First Name" />
                <input type="text" name="last_name" placeholder="Last Name" />
                <input type="text" name="telephone" placeholder="Phone Number" />
                <input type="text" name="email" placeholder="Email Address" />
            </div>
          </div>
      </div>

      <!-- Column Two -->
      <div class="large-6 columns">
        <p class="na-contact-copy">
          PHYSICAL ADDRESS:<br>
          Unit 6, 501 Karangahape Road,<br>
          Freemans Bay, Auckland, NZ
        </p>
        <p class="na-contact-copy">
          Postal address: PO Box 133189,<br>
          Eastridge, Auckland, NZ
        </p>
        <p class="na-contact-copy">
          <a href="tel:+64 9 801 0373">Phone: +64 9 801 0373</a><br>
          Email: <a href="mailto:info@nauticashipping.co.nz">info@nauticashipping.co.nz</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
          <textarea name="comments" placeholder="Message"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <button type="hidden" name="_next" value="/message/"/>SUBMIT</button>
      </div>
    </div>

  </form>

  <a class="close-reveal-modal na-close-modal" aria-label="Close">
    <img src="{{ "images/close-modal.png" | prepend: site.baseurl }}"/>
  </a>
</div>

<!-- The modal that opens when you click the contact us button on the nav -->
<div id="contactUs" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="row">
    <div class="large-12 column">
      <h2 class="na-panel-header">Contact Us</h2>
      <p>
        To receive a quote or for more
        information about any of our services,
        please call us on +64 9 801 0373 or email
        us at <a href="mailto:info@nauticashipping.co.nz">info@nauticashipping.co.nz</a>. Or fill
        in the fields below and we’ll reply as promptly as possible:
      </p>
    </div>
  </div>

  <form action="http://formspree.io/info@nauticashipping.co.nz" method="POST">
    <div class="row">
      <!-- Column One -->
      <div class="large-6 columns">
        <!-- Form -->
          <div class="row">
            <div class="large-12 columns">
                <input type="text" name="First Name" placeholder="First Name" />
                <input type="text" name="Last Name" placeholder="Last Name" />
                <input type="text" name="Phone Number" placeholder="Phone Number" />
                <input type="email" name="_replyto" placeholder="Email Address" />
            </div>
          </div>
      </div>

      <!-- Column Two -->
      <div class="large-6 columns">
        <p class="na-contact-copy">
          PHYSICAL ADDRESS:<br>
          Unit 6, 501 Karangahape Road,<br>
          Freemans Bay, Auckland, NZ
        </p>
        <p class="na-contact-copy">
          Postal address: PO Box 133189,<br>
          Eastridge, Auckland, NZ
        </p>
        <p class="na-contact-copy">
          <a href="tel:+64 9 801 0373">Phone: +64 9 801 0373</a><br>
          Email: <a href="mailto:info@nauticashipping.co.nz">info@nauticashipping.co.nz</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
          <textarea type="text" placeholder="Message"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <button type="hidden" name="_next" value="/message/"/>SUBMIT</button>
      </div>
    </div>

  </form>

  <a class="close-reveal-modal na-close-modal" aria-label="Close">
    <img src="{{ "images/close-modal.png" | prepend: site.baseurl }}"/>
  </a>
</div>
