<footer>
  <section class="na-footer-subscribe">
    <div class="row">
      <div class="column">
        <form action="http://formspree.io/info@nauticashipping.co.nz" method="POST" class="na-footer-form">
          <input type="email" name="Please put me on the mailchimp mailing list, I'm keen to keep up-to-date with what Nautica is doing." class="na-footer-input" placeholder="Enter your email here...">
          <button type="hidden" name="_next" value="/subscribed/" class="na-footer-form-button">Subscribe</button>
        </form>
      </div>
    </div>
  </section>
  <section class="na-footer-main">
    <div class="row">
      <div class="large-4 columns na-footer-download">
        <a href="#">
          <img src="{{ "/images/download-brochure.jpg" | prepend: site.baseurl }}" />
        </a>
        <button class="download-brochure"><a target="_blank" href="{{ "/downloads/nautica-brochure.pdf" | prepend: site.baseurl }}">DOWNLOAD BROCHURE</a></button>
      </div>
      <div class="large-4 columns">
        <h2>BROWSE OUR SITE</H2>
        <p><a href="/">HOME</a></p>
        <p><a href="/about-us/">ABOUT US</a></p>
        <p><a href="/services/">SERVICES</a></p>
        <p><a href="/faq/">FAQS</a></p>
        <p><a data-reveal-id="contactUs">CONTACT US</a></p>
        <p class="na-copywrite">&#169; NAUTICA SHIPPING LTD 2015</p>
      </div>
      <div class="large-4 columns">
        <h2>CONTACT</h2>
        <p><a href="tel:+64 9 801 0373">P: +64 9 801 0373</a></p>
        <p><a href="tel:+64 27 535 4575">M: +64 27 535 4575</a></p>
        <p>E: <a href="mailto:info@nauticashipping.co.nz">info@nauticashipping.co.nz</a></p>
        <div class="social-icons">
          <a href="https://www.facebook.com/Nautica-Shipping-and-Logistics-Ltd-905326556220112/?fref=ts"><img src="{{ "/images/facebook.png" | prepend: site.baseurl }}" alt="" /></a>
          <!-- <a href="#"><img src="{{ "/images/linkedin.png" | prepend: site.baseurl }}" alt="" /></a> -->
          <a href="mailto:info@nauticashipping.co.nz"><img src="{{ "/images/email.png" | prepend: site.baseurl }}" alt="" /></a>
          <a href="tel:+64 9 801 0373"><img src="{{ "/images/phone.png" | prepend: site.baseurl }}" alt="" /></a>
        </div>
      </div>
    </div>
  </section>

</footer>
