<nav class="top-bar" data-topbar role="navigation">

  <img class="na-topbar-mobile" src="{{ "images/nautica-logo.png" | prepend: site.baseurl }}" />

  <ul class="title-area">
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <!-- <li class="na-topbar-icon-li">
        <a class="prs" href="javascript:void(0)">
          <span class="na-topbar-link-icon"><i class="fa fa-phone"></i></span>
        </a>
      </li>
      <li class="na-topbar-icon-li">
        <a class="pls" href="javascript:void(0)">
          <span class="na-topbar-link-icon"><i class="fa fa-envelope"></i></span>
        </a>
      </li> -->
      <li{% if page.url == '/index.html' %} class="active"{% endif %}>
        <a href="/">
          <span class="na-topbar-link-text">Home</span>
        </a>
      </li>
      <li{% if page.url == '/about-us/index.html' %} class="active"{% endif %}>
        <a href="/about-us/">
          <span class="na-topbar-link-text">About Us</span>
        </a>
      </li>
      <li{% if page.url == '/services/index.html' %} class="active"{% endif %}>
        <a href="/services/">
          <span class="na-topbar-link-text">Services</span>
        </a>
      </li>
      <li{% if page.url == '/faq/index.html' %} class="active"{% endif %}>
        <a href="/faq/">
          <span class="na-topbar-link-text">FAQ</span>
        </a>
      </li>
      <li{% if page.url == '/contact-us/index.html' %} class="active"{% endif %}>
        <a data-reveal-id="contactUs">
          <span class="na-topbar-link-text">Contact Us</span>
        </a>
      </li>
    </ul>
    <div class="na-topbar-logo-container right">
      <img class="na-topbar-logo right" src="{{ "images/nautica-logo.png" | prepend: site.baseurl }}" />
    </div>
  </section>
</nav>
