<div class="na-page-orbit-container">
  <ul id="na-page-orbit-list" data-orbit>
    <li {% if page.url == '/index.html' %} data-orbit-slide="1"{% endif %}
      class="na-page-orbit na-page-orbit--{{page.title}}-1">
    </li>
    <li {% if page.url == '/index.html' %} data-orbit-slide="2"{% endif %}
      class="na-page-orbit na-page-orbit--{{page.title}}-2">
    </li>
    <li {% if page.url == '/index.html' %} data-orbit-slide="3"{% endif %}
      class="na-page-orbit na-page-orbit--{{page.title}}-3">
    </li>
  </ul>
</div>

<script src="{{ "js/na-page-orbit.js" | prepend: site.baseurl }}"></script>
