.enquire-now {
  display: inline-block;
  padding: 10px 15px;
  position: absolute;
  right: -56px;
  top: 200px;
  z-index: 1000;
  background-color: #fff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-left: 10px solid $na-colour-light-blue;
  cursor: pointer;
  p {
    margin: 0;
    color: $na-colour-blue;
    font-weight: bold;
  }
}

input, textarea {
  border-width: 2px !important;
  border-color: $na-colour-blue !important;
}

.na-close-modal {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  background-color: $na-colour-light-blue;
  padding: 20px;
  font-size: 1rem !important;
}

.na-contact-copy {
  font-weight: bold;
  color: $na-colour-blue;
  line-height: 1.2 !important;
}

.reveal-modal {
  z-index: 7000 !important;
  a {
    color: $na-colour-blue !important;
    line-height: inherit;

    &:hover,
    &:focus {
      color: darken($na-colour-blue, 50%) !important;
    }
  }
}

button {
  background-color: $na-colour-blue;
  color: white;
  margin-top: 1rem;
  &:hover {
    color: white;
  }
}
