.na-footer-subscribe {
  background-color: $na-colour-blue;
  margin-top: 100px;
}

.na-footer-main {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 100px;

  h2 {
    font-size: 18px;
    color: $na-colour-blue;
    margin-botom: 20px;
    font-weight: bold;
  }
  p, a {
    font-size: 14px;
    color: $na-colour-blue;
    margin-bottom: 5px;
  }
  .columns {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.na-copywrite {
  margin-top: 30px;
}

.social-icons {
  margin-top: 55px;
  img {
    margin-right: 5px;
  }
}

.na-footer-download {
  img, button {
    width: 100%;
  }
  button {
    font-weight: bold;
  }
  .download-brochure {
    background-color: white;
    color: $na-colour-blue;
    border: 3px solid $na-colour-blue;
  }
}

.na-footer-form {
  position: relative;
  height: 100%;
  padding: 10px;
  padding-right: 160px;
  height: 75px;
}

.na-footer-form-button {
  right: 0;
  top: 12px;
  position: absolute;
  background-color: white;
  color: $na-colour-blue;
  text-transform: uppercase;
  margin: 0;
}

.na-footer-input {
  height: 100% !important;
  margin: 0 !important;
  background: none !important;
  border: none !important;
  color: white !important;
  font-size: 32px !important;

  &::-webkit-input-placeholder { color: white; }
  &:-moz-placeholder { /* Firefox 18- */ color: white;   }
  &::-moz-placeholder {  /* Firefox 19+ */ color: white;   }
  &:-ms-input-placeholder {   color: white;   }

  &:focus {
    // CLICK STYLES GO IN HERE!
    background-color: $na-colour-blue !important;
    color: white !important;
  }
}
