.na-page-orbit-container {
  position: fixed;
  width: 100%;
  height: calc(100% - #{$topbar-height});
}

.orbit-slides-container,
.orbit-container { height: 100% !important; }

.orbit-timer { display: none; }

.na-page-orbit {
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.na-page-orbit--home-1         { background-image: url('../images/orbit/home/1.jpg'); }
.na-page-orbit--home-2         { background-image: url('../images/orbit/home/2.jpg'); }
.na-page-orbit--home-3         { background-image: url('../images/orbit/home/3.jpg'); }

.na-page-orbit--about-us-1     { background-image: url('../images/orbit/about-us/1.jpg'); }
.na-page-orbit--about-us-2     { background-image: url('../images/orbit/about-us/2.jpg'); }
.na-page-orbit--about-us-3     { background-image: url('../images/orbit/about-us/3.jpg'); }

.na-page-orbit--services-1     { background-image: url('../images/orbit/services/1.jpg'); }
.na-page-orbit--services-2     { background-image: url('../images/orbit/services/2.jpg'); }
.na-page-orbit--services-3     { background-image: url('../images/orbit/services/3.jpg'); }

.na-page-orbit--contact-us-1   { background-image: url('../images/orbit/contact-us/1.jpg'); }
.na-page-orbit--contact-us-2   { background-image: url('../images/orbit/contact-us/2.jpg'); }
.na-page-orbit--contact-us-3   { background-image: url('../images/orbit/contact-us/3.jpg'); }

.na-page-orbit--faq-1          { background-image: url('../images/orbit/faq/1.jpg'); }
.na-page-orbit--faq-2          { background-image: url('../images/orbit/faq/2.jpg'); }
.na-page-orbit--faq-3          { background-image: url('../images/orbit/faq/3.jpg'); }

.na-page-orbit--testimonials-1 { background-image: url('../images/orbit/testimonials/1.jpg'); }
.na-page-orbit--testimonials-2 { background-image: url('../images/orbit/testimonials/2.jpg'); }
.na-page-orbit--testimonials-3 { background-image: url('../images/orbit/testimonials/3.jpg'); }
