.na-quotes {
  .na-quotes-container {
    background-color: rgba(230,230,230,.9);
    padding: 50px 50px 20px 50px;
    padding-top: 30px;
  }
  p {
    font-style: italic;
    text-align: center;
  }
}

.na-quotes-blue {
  .na-quotes-container {
    background-color: rgba(7,48,115,.9);
    padding: 50px 50px 20px 50px;
    padding-top: 30px;
  }
  p {
    font-style: italic;
    text-align: center;
    color: white;
  }
}
