$topbar-height: rem-calc(80);
$topbar-bg-color: $na-colour-blue;
$topbar-responsive-height: rem-calc(60);

$topbar-link-text-transform: uppercase;
$topbar-link-bg-active: $na-colour-blue;
$topbar-link-bg-hover: $na-colour-blue;
$topbar-link-bg-active-hover: $na-colour-blue;

$topbar-breakpoint: #{lower-bound(1000px)};

.na-topbar-mobile {
  display: none;
}

.na-topbar-link-text,
.na-topbar-link-icon {
  display: inline-block;
  margin-top: 25px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  .active & { border-color: white; }
}

.na-topbar-link-text { padding: 5px 10px; }
.na-topbar-link-icon {
  font-size: 21px;
  width: 38px;
  text-align: center;
  border-color: white;
}

.na-topbar-logo-container {
  display: flex;
  align-items: center;
  height: 5rem;
}

.na-topbar-logo {
  height: 50%;
  padding: 0 1.66667rem;
}

.top-bar-section li a {
  line-height: normal !important;
  height: $topbar-height;
  padding: 0 10px 0 0 !important;
  &:first-child {
    padding-left: 1.66667rem !important;
  }
}

.top-bar-section ul li {
  background-color: transparent !important;
}

.top-bar .toggle-topbar.menu-icon {
  // Because content is position fixed, we need to bump the z-index of the menu button.
  z-index: 2;
  top: 22px !important;
}


@media (max-width: 1000px) {
  .top-bar {
    height: $topbar-responsive-height !important;
    z-index: 3000;

    &.expanded { height: auto !important; }
  }

  .top-bar-section li a {
    height: $topbar-responsive-height;
  }

  .top-bar-section ul {
    padding-top: $topbar-responsive-height !important;
    background-color: $na-colour-blue;
  }

  .reveal-modal {
    z-index: 7000 !important;
  }

  .na-topbar-logo-container {
    display: none;
  }

  .na-topbar-mobile {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4000;
    height: $topbar-responsive-height;
    padding: 15px 17px;
  }

  .na-topbar-link-text {
    padding: 0;
    margin-top: 20px;
    border-color: transparent;

    .active & { border-color: transparent; }
  }

  .na-topbar-icon-li { display: none; }
}

.top-bar .toggle-topbar.menu-icon a {
  height: 42px !important;
}

.top-bar .toggle-topbar.menu-icon a span::after {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  margin-top: -8px;
  top: 50%;
  right: 1.66667rem;
  box-shadow: 0 0 0 2px #FFFFFF, 0 10px 0 2px #FFFFFF, 0 20px 0 2px #FFFFFF !important;
  width: 25px !important;
}
