$topbar-height: rem-calc(80);
$topbar-bg-color: #073073;
$topbar-link-text-transform: uppercase;
$topbar-breakpoint: #{lower-bound(1000px)};

.top-bar .toggle-topbar.menu-icon {
  // Because content is position fixed, we need to bump the z-index of the menu button.
  z-index: 2;
  top: 22px !important;
}

@media (max-width: 1000px) {
  .top-bar {
    height: 44px !important;

    &.expanded { height: auto !important; }
  }
}

.na-topbar-logo {
  height: $topbar-height;
}
